* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}
h2 > span {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  opacity: 0.8;
}

ul > li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
}
body {
  background-color: #0d1120;
  color: #fafafa;
  font-family: "Outfit", serif;
  padding-inline: 80px;
  overflow-x: hidden;
}
body header {
  position: fixed;
  margin-top: 60px;
}
body header .claim {
  margin-bottom: 60px;
}
body header .claim h1 {
  margin-bottom: 16px;
}
body header .claim h2 span {
  display: inline-block;
  margin-top: 30px;
}
body header nav {
  margin-bottom: 60px;
}
body header nav ul li {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
body header nav ul li > a {
  text-decoration: none;
  color: inherit;
}
body header nav ul li > a::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #fafafa;
  position: absolute;
  top: 50%;
  left: -60px;
}
body header nav ul li > a:hover, body header nav ul li > a:focus {
  color: #58e7f7;
  font-weight: 500;
}
body header nav ul li > a:hover::before, body header nav ul li > a:focus::before {
  background: #58e7f7;
}
body header nav ul li:not(:last-child) {
  margin-bottom: 24px;
}
body header .socials ul {
  display: flex;
  gap: 16px;
}
body header .socials ul li > a {
  color: inherit;
  text-decoration: none;
}
body header .socials ul li > a:hover, body header .socials ul li > a:focus {
  color: #58e7f7;
}
body header .socials ul li .icon-goodreads:before {
  color: #fafafa;
}
body header .socials ul li .icon-goodreads:hover::before, body header .socials ul li .icon-goodreads:focus::before {
  color: #58e7f7;
}
body header .socials ul li i {
  font-size: 20px;
}
body main {
  position: relative;
  right: 0;
  top: 0;
  float: right;
  width: 70%;
  height: 200vh;
  padding-top: 20vh;
}
body main .circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(30px);
  animation: floatAnimation 7s cubic-bezier(0.3, 0.6, 0.3, 1) infinite;
}
body main .circle.circle-big {
  background: rgb(156, 220, 229);
  background: linear-gradient(104deg, rgb(39, 160, 175) 50%, rgb(100, 179, 244) 100%);
  width: 250px;
  height: 250px;
  right: -180px;
  top: 20%;
  transform: translateY(-50%);
}
body main .circle.circle-med {
  background: rgb(168, 25, 133);
  background: linear-gradient(87deg, rgb(168, 25, 133) 20%, rgb(100, 179, 244) 100%);
  width: 150px;
  height: 150px;
  top: 9%;
  right: 200px;
  animation-delay: 1.5s;
}
body main section {
  position: relative;
  padding-block: 80px;
}
body main section::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #fafafa;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}
body main section#projects .card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 20px;
  outline: 1px solid transparent;
}
body main section#projects .card:hover, body main section#projects .card:focus {
  background-color: rgba(17.748, 23.3172, 43.452, 0.8);
  outline: 1px solid rgba(128, 128, 128, 0.2);
  box-shadow: 0px 4px 20px rgba(54, 54, 54, 0.1);
}
body main section#projects .card:hover .card-content h3 > i, body main section#projects .card:focus .card-content h3 > i {
  color: #58e7f7;
}
body main section#projects .card:hover .card-content p, body main section#projects .card:focus .card-content p {
  color: white;
}
body main section#projects .card .img-container {
  z-index: 999;
}
body main section#projects .card .img-container img {
  display: block;
  width: 250px;
  height: 150px;
  object-fit: cover;
}
body main section#projects .card .card-content h3 {
  display: flex;
  align-items: center;
  gap: 8px;
}
body main section#projects .card .card-content i {
  font-size: 12px;
}
body main section#experience .job {
  display: flex;
  justify-content: space-between;
}
body main section#experience .job .job-title {
  font-weight: 500;
}
body main section#experience .job:not(:last-child) {
  margin-bottom: 40px;
}
body main section#experience .resume-btn {
  display: inline-block;
  font-size: 16px;
}
body main section#experience .resume-btn:hover, body main section#experience .resume-btn:focus {
  color: #58e7f7;
}
body main section#about .bio {
  margin-bottom: 60px;
}
body main section#about .skills {
  margin-bottom: 40px;
}
body main section#about .skills h3 {
  margin-bottom: 20px;
}
body main section#about .languages h3 {
  margin-bottom: 20px;
}
body main section#about .pill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
}
body main section#about .pill-list .pill {
  display: block;
  background-color: rgba(88, 231, 247, 0.1);
  color: #58e7f7;
  padding: 8px 12px;
  border-radius: 50px;
  width: fit-content;
  cursor: default;
}
body main section#about .pill-list .pill:hover {
  color: #0d1120;
  background-color: #58e7f7;
}
body main footer {
  padding-block: 80px;
}
body main footer .contact-email {
  font-size: 16px;
}
body main footer .contact-email i {
  font-size: 12px;
  margin-right: 4px;
}
body main footer .contact-email:hover i, body main footer .contact-email:focus i {
  color: #58e7f7;
}
body .cursor-light {
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(18, 140, 184, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(20px);
  mix-blend-mode: soft-light;
  transition: transform 0.05s linear, opacity 0.3s ease; /* Smooth transition for opacity */
  z-index: 99;
  opacity: 0; /* Initially hidden */
}
body .back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  color: #0d1120;
  border: none;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
body .back-to-top:hover, body .back-to-top:focus {
  background-color: #0d1120;
  color: #58e7f7;
  transform: scale(1.1);
}
body .back-to-top.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 360px) and (max-width: 1200px) {
  body {
    padding-inline: 40px;
  }
  body header {
    position: static;
    margin-bottom: 60px;
  }
  body header .socials ul {
    gap: 20px;
  }
  body main {
    position: static;
    float: none;
    padding: 0;
    width: 100%;
  }
  body main .circle {
    display: none;
  }
  body main section#projects .card {
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
  }
  body main section#experience .job {
    display: block;
  }
  body main section#about .pill-list {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
