$bg-color: #fafafa;
$bg-text: #1c1c1c;
$primary: #2611b2;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $bg-text;
  font-family: "Outfit", serif;
  overflow-x: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;

  > span {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
  }
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  opacity: 0.8;
}

ul {
  > li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary;
    font-weight: bold;
  }
}
