* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$bg-color: #0d1120;
$bg-text: #fafafa;
$primary: #58e7f7;

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;

  > span {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
  }
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  opacity: 0.8;
}

ul {
  > li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
