* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bg-color: #0d1120;
$bg-text: #fafafa;

h1 {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 500;

  > span {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
  }
}

p {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8;
}

ul {
  > li {
    list-style: none;
  }
}
