@import "helpers";

body {
  background-color: $bg-color;
  color: $bg-text;
  font-family: "Outfit", serif;
  padding-inline: 60px;

  /////////////// Header
  header {
    position: fixed;
    margin-top: 60px;

    .claim {
      margin-bottom: 60px;
      h1 {
        margin-bottom: 16px;
      }
      h2 {
        span {
          display: inline-block;
          margin-top: 30px;
        }
      }
    }

    nav {
      li {
        font-size: 20px;
        font-weight: 300;
        text-transform: capitalize;

        > a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .socials {
      ul {
        display: flex;
        gap: 16px;
      }
    }
  }

  //////////////// Main
  main {
    position: absolute;
    right: 0;
    top: 0;
    background: gray;
    float: right;
    width: 60%;
    height: 200vh;
  }
}
