@import "globals";

// Animation
@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-30px) translateX(20px);
  }
}

body {
  background-color: $bg-color;
  color: $bg-text;
  font-family: "Outfit", serif;
  padding-inline: 60px;
  overflow-x: hidden;

  /////////////// Header
  header {
    position: fixed;
    margin-top: 60px;

    .claim {
      margin-bottom: 60px;
      h1 {
        margin-bottom: 16px;
      }
      h2 {
        span {
          display: inline-block;
          margin-top: 30px;
        }
      }
    }

    nav {
      margin-bottom: 60px;
      ul {
        li {
          position: relative;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;

          > a {
            text-decoration: none;
            color: inherit;

            &::before {
              content: "";
              display: block;
              width: 40px;
              height: 1px;
              background: $bg-text;
              position: absolute;
              top: 50%;
              left: -60px;
            }

            &:hover {
              color: $primary;
              font-weight: 500;

              &::before {
                background: $primary;
              }
            }
          }
        }
        li:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    .socials {
      ul {
        display: flex;
        gap: 16px;

        li {
          > a {
            color: inherit;
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
          .icon-goodreads {
            &:before {
              color: $bg-text;
            }

            &:hover::before {
              color: $primary;
            }
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  //////////////// Main
  main {
    position: relative;
    right: 0;
    top: 0;
    float: right;
    width: 60%;
    height: 200vh;
    padding-top: 80vh;
    padding-inline: 60px;

    .circle {
      position: absolute;
      border-radius: 50%;
      opacity: 0.3;
      filter: blur(30px);
      animation: floatAnimation 7s cubic-bezier(0.3, 0.6, 0.3, 1) infinite;

      &.circle-big {
        background: rgb(156, 220, 229);
        background: linear-gradient(
          104deg,
          rgb(39, 160, 175) 50%,
          rgba(100, 179, 244, 1) 100%
        );
        width: 250px;
        height: 250px;
        right: -180px;
        top: 20%;
        transform: translateY(-50%);
      }

      &.circle-med {
        background: rgb(168, 25, 133);
        background: linear-gradient(
          87deg,
          rgba(168, 25, 133, 1) 20%,
          rgba(100, 179, 244, 1) 100%
        );
        width: 150px;
        height: 150px;
        top: 9%;
        right: 200px;
        animation-delay: 1.5s;
      }
    }

    section {
      position: relative;
      padding-block: 80px;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: $bg-text;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.4;
      }

      &#projects {
        .card {
          display: flex;
          align-items: center;
          gap: 20px;
          width: fit-content;
          padding: 20px;
          outline: 1px solid transparent;

          &:hover {
            background-color: rgba(hsl(227, 42%, 12%), 0.8);
            outline: 1px solid rgba(gray, 0.2);
            box-shadow: 0px 4px 20px rgba(54, 54, 54, 0.1); // Very faded blue shadow

            .card-content {
              h3 {
                > i {
                  color: $primary;
                }
              }
              p {
                color: white;
              }
            }
          }

          .img-container {
            z-index: 999;
            img {
              display: block;
              width: 220px;
              height: 150px;
              object-fit: cover;
            }
          }

          .card-content {
            h3 {
              display: contents;
              margin-bottom: 4px;
            }
            i {
              font-size: 12px;
            }
          }
        }
      }

      &#experience {
        .job {
          display: flex;
          justify-content: space-between;

          .job-title {
            font-weight: 500;
          }

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
        .resume-btn {
          display: inline-block;
          font-size: 16px;

          &:hover {
            color: $primary;
          }
        }
      }

      &#about {
        .bio {
          margin-bottom: 60px;
        }

        .skills {
          margin-bottom: 40px;
          h3 {
            margin-bottom: 20px;
          }
        }

        .languages {
          h3 {
            margin-bottom: 20px;
          }
        }

        .pill-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          width: 500px;

          .pill {
            display: block;
            background-color: rgba($primary, 0.1);
            color: $primary;
            padding: 8px 12px;
            border-radius: 50px;
            width: fit-content;
            cursor: default;

            &:hover {
              color: $bg-color;
              background-color: $primary;
            }
          }
        }
      }
    }

    footer {
      padding-block: 80px;

      .contact-email {
        font-size: 16px;
        i {
          font-size: 12px;
          margin-right: 4px;
        }

        &:hover {
          i {
            color: $primary;
          }
        }
      }
    }
  }

  // Utilities ///////////////////////
  .cursor-light {
    position: fixed;
    width: 600px;
    height: 600px;
    background: radial-gradient(
      circle,
      rgba(18, 140, 184, 0.5) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    mix-blend-mode: soft-light;
    transition: transform 0.05s linear, opacity 0.3s ease; /* Smooth transition for opacity */
    z-index: 99;
    opacity: 0; /* Initially hidden */
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: $bg-text;
    color: $bg-color;
    border: none;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &:hover {
      background-color: $bg-color;
      color: $primary;
      transform: scale(1.1);
    }
  }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 360px) and (max-width: 1200px) {
  body {
    padding-inline: 40px;
    header {
      position: static;
      margin-bottom: 60px;

      .socials {
        ul {
          gap: 20px;
        }
      }
    }
    main {
      position: static;
      float: none;
      padding: 0;
      width: 100%;

      .circle {
        display: none;
      }

      section {
        &#projects {
          .card {
            flex-direction: column;
            align-items: flex-start;
            max-width: 500px;
          }
        }

        &#experience {
          .job {
            display: block;
          }
        }

        &#about {
          .pill-list {
            width: auto;
          }
        }
      }
    }
  }
}
