@import "helpers";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bg-color: #0d1120;
$bg-text: #fafafa;

body {
  background-color: $bg-color;
  color: $bg-text;
  font-family: "Outfit", serif;

  header {
    position: fixed;
    nav {
      li {
        font-size: 20px;
        font-weight: 300;
        text-transform: capitalize;

        > a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  main {
    background: pink;
    float: right;
    width: 50%;
    height: 200vh;
  }
}
