@import "globals";

body {
  background-color: $bg-color;
  color: $bg-text;
  font-family: "Outfit", serif;
  padding-inline: 60px;

  /////////////// Header
  header {
    position: fixed;
    margin-top: 60px;

    .claim {
      margin-bottom: 60px;
      h1 {
        margin-bottom: 16px;
      }
      h2 {
        span {
          display: inline-block;
          margin-top: 30px;
        }
      }
    }

    nav {
      margin-bottom: 60px;
      ul {
        li {
          position: relative;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;

          > a {
            text-decoration: none;
            color: inherit;

            &::before {
              content: "";
              display: block;
              width: 40px;
              height: 1px;
              background: $bg-text;
              position: absolute;
              top: 50%;
              left: -60px;
            }

            &:hover {
              color: $primary;
              font-weight: 500;

              &::before {
                background: $primary;
              }
            }
          }
        }
        li:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    .socials {
      ul {
        display: flex;
        gap: 16px;

        li {
          > a {
            color: inherit;
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
          .icon-goodreads {
            &:before {
              color: $bg-text;
            }

            &:hover::before {
              color: $primary;
            }
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  //////////////// Main
  main {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    width: 60%;
    height: 200vh;
    padding-top: 80vh;
    padding-inline: 60px;

    section {
      position: relative;
      padding-block: 80px;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: $bg-text;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.4;
      }

      &#projects {
        .card {
          display: flex;
          align-items: center;
          gap: 20px;
          width: fit-content;

          img {
            height: 180px;
            width: auto;
          }

          .card-content {
            h3 {
              margin-bottom: 4px;
            }
            i {
              font-size: 12px;
            }
          }
        }
      }

      &#experience {
        .job {
          display: flex;
          justify-content: space-between;

          .job-title {
            font-weight: 500;
          }

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }

      &#about {
        .bio {
          margin-bottom: 60px;
        }

        .skills {
          margin-bottom: 40px;
          h3 {
            margin-bottom: 20px;
          }
        }

        .languages {
          h3 {
            margin-bottom: 20px;
          }
        }

        .pill-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          width: 500px;

          .pill {
            display: block;
            background: rgba($primary, 0.1);
            color: $primary;
            padding: 8px 12px;
            border-radius: 50px;
          }
        }
      }
    }

    footer {
      padding-block: 80px;
    }
  }
}
